$animationDuration: 250ms;

.navigator {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 600px;
    width: 700px
}

.folders-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.visible-folder {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all $animationDuration;
}

// @keyframes new-current-folder{
//     from {
//         right: -100%;
//         left: 100%;
//     }
//     to {
//         right: 0;
//         left: 0;
//     }
// }

.current-folder {
    @extend .visible-folder;
    animation: new-current-folder $animationDuration;
}

.next-folder {
    @extend .visible-folder;
    right: -100%;
    left: 100%;
}

.previous-folder {
    @extend .visible-folder;
    right: 100%;
    left: -100%;
}
.forward {
    .current-folder {
        animation: new-current-folder $animationDuration;
    }
}

.backward {
    .current-folder {
        animation: new-current-folder $animationDuration;
        animation-direction: reverse;
    }
}

.hidden-folder {
    display: none;
}

.folder-view {
    display: flex;
    flex-direction: column;
    border: 3px solid #AAAAAA;
    padding: 30px;
    flex: 1 1 auto;
}


.folder-item {
    padding: 30px;
    border: 2px solid gray;
    cursor: pointer;
    border-radius: 6px;
    text-align: start;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 600px;
}
